@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

form {
  width: 490px;
  height: 333px;
  padding: 30px;
  margin-left: 50px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-clip: padding-box;
  background: rgba(0, 0, 0, 0.247);
  box-shadow: 0 0 13px 3px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

textarea {
  background: rgba(255, 255, 255, 0.185)
    url(http://luismruiz.com/img/gemicon_message.png) no-repeat scroll 16px 16px;
  width: 276px;
  height: 110px;
  border: 1px solid rgba(218, 208, 208, 0.6);
  border-radius: 4px;
  background-clip: padding-box;
  display: block;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  color: #fff;
  padding-left: 25px;
  padding-right: 20px;
  padding-top: 12px;
  margin-bottom: 20px;
  overflow: hidden;
}

input {
  width: 276px;
  height: 48px;
  border: 1px solid rgba(218, 208, 208, 0.6);
  border-radius: 4px;
  background-clip: padding-box;
  display: block;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  color: #fff;
  padding-left: 10px;
  padding-right: 20px;
  margin-bottom: 20px;
}

input[type='submit'] {
  cursor: pointer;
}

input.name {
  background: rgba(255, 255, 255, 0.185)
    url(http://luismruiz.com/img/gemicon_name.png) no-repeat scroll 16px 16px;
  padding-left: 25px;
}

input.email {
  background: rgba(255, 255, 255, 0.185)
    url(http://luismruiz.com/img/gemicon_email.png) no-repeat scroll 16px 20px;
  padding-left: 25px;
}

input.message {
  background: rgba(255, 255, 255, 0.185)
    url(http://luismruiz.com/img/gemicon_message.png) no-repeat scroll 16px 16px;
  padding-left: 25px;
}

::-webkit-input-placeholder {
  color: #fff;
}

input:focus,
textarea:focus {
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.5);
  overflow: hidden;
}

.btn {
  width: 138px;
  height: 44px;
  border-radius: 4px;
  float: right;
  border: 1px solid #253737;
  background: #416b68;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#6da5a3),
    to(#416b68)
  );
  background: -webkit-linear-gradient(top, #6da5a3, #416b68);
  background-image: -ms-linear-gradient(top, #6da5a3 0%, #416b68 100%);
  padding: 10.5px 21px;
  border-radius: 6px;
  -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0,
    inset rgba(255, 255, 255, 0.7) 0 1px 0;
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0,
    inset rgba(255, 255, 255, 0.7) 0 1px 0;
  text-shadow: #333333 0 1px 0;
  color: #e1e1e1;
}

.btn:hover {
  border: 1px solid #253737;
  text-shadow: #333333 0 1px 0;
  background: #416b68;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#77b2b0),
    to(#416b68)
  );
  background: -webkit-linear-gradient(top, #77b2b0, #416b68);
  background-image: -ms-linear-gradient(top, #77b2b0 0%, #416b68 100%);
  color: #fff;
}

.btn:active {
  margin-top: 1px;
  text-shadow: #333333 0 -1px 0;
  border: 1px solid #253737;
  background: #6da5a3;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#416b68),
    to(#416b68)
  );
  background: -webkit-linear-gradient(top, #416b68, #609391);
  background-image: -ms-linear-gradient(top, #416b68 0%, #6da5a3 100%);
  color: #fff;
  -webkit-box-shadow: rgba(255, 255, 255, 0) 0 1px 0,
    inset rgba(255, 255, 255, 0.7) 0 1px 0;
  box-shadow: rgba(255, 255, 255, 0) 0 1px 0,
    inset rgba(255, 255, 255, 0.7) 0 1px 0;
}
