<html>

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link rel="stylesheet" href="./css/styles.css" />
        <link rel="stylesheet" href="./css/about.css">
        <link rel="icon" href="/img/logo.png">
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>About</title>
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <div class="image-section">
                <figure class="snip1540">
                    <div class="profile-image"><img
                            src="https://media.licdn.com/dms/image/C5103AQG8FuSByKQOdA/profile-displayphoto-shrink_200_200/0?e=1580947200&v=beta&t=Qaw4RGXFHuMXIPFwFlzeWbQejmskOdNNzJj2zZjMyyo"
                            alt="Sandeep" />
                        <div class="icons">
                            <a href="https://www.linkedin.com/in/sandeep-pandit-540b32150/"><i class="fa fa-linkedin"
                                    aria-hidden="true"></i></i></a>
                            <a href="https://github.com/sandy24998"><i class="fa fa-github" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <figcaption>
                        <h3>Sandeep Pandit</h3>
                    </figcaption>
                </figure>
                <figure class="snip1540">
                    <div class="profile-image"><img
                            src="https://scontent.fslv1-2.fna.fbcdn.net/v/t1.0-9/p960x960/29313676_2086680054908831_6250176248979390464_o.jpg?_nc_cat=109&_nc_ohc=fzIq4vi87CwAQkMtqyZyhDj_OCyaGPYv8q0OGVDL88skxpNsV0rgRVq9w&_nc_ht=scontent.fslv1-2.fna&oh=b60ebef44e78ca2ac10b037767a7bcf6&oe=5E45399C"
                            alt="Sabhya" />
                        <div class="icons">
                            <a href="https://www.linkedin.com/in/sabhya-kumari-078517172/"><i class="fa fa-linkedin"
                                    aria-hidden="true"></i></i></a>
                            <a href="#"><i class="fa fa-github" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <figcaption>
                        <h3>Sabhya Kumari</h3>
                    </figcaption>
                </figure>
            </div>
        </div>
        {{>footer}}
        <script src="js/app.js"></script>
    </body>

</html>